.form-page {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.image-logo {
	width: 50%;
	margin: 25px auto;
	display: block;
}
.form-wrapper {
	background: #E8E8E8;
	width: 400px;
    height: 600px;
    border-radius: 5px;
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    padding: 5px;

    /*this to solve "the content will not be cut when the window is smaller than the content": */
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.form-wrapper a {
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}
.sign-btn {
	color: #494949;
	background: #ffffff;
	padding: 10px 20px;
	border: 3px solid #494949;
	border-radius: 6px;
	margin: 5px;
	display: inline-block;
}
.sign-btn:hover {
color: #ffffff !important;
background: #157CC6;
border-color: #041E32 !important;
transition: all 0.4s ease 0s;
}


.form-group {
	width: 95%;
	position: relative;
	margin-bottom: 1.5rem;
}

.form-group input{
	background-color: transparent; 
	width: 100%;
	padding: 10px;
	border-style: solid; 
	border-width: 0px 0px 2px 0px;
  border-color: #157CC6;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  /*padding: 7px 0 0 13px;*/
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 15px;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

/*OPTION STYLING */
#car-state {
 border-radius:50%;
 border-width: 0px 0px 2px 0px;
 border-color: #041E32 !important;
 background-color: transparent;
 padding: 2px;
}

/*HELPERS*/
.text-center{
	text-align: center;
}
